SUPABASE_URL=https://otkylynaldaamaolerau.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im90a3lseW5hbGRhYW1hb2xlcmF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc2NzA3NDksImV4cCI6MjEwMzI0Njc0OX0.fA80CE2tLRMLPzzRtcAvcGfcXw-aIOBHSVAcrNYuy94
CORS_ORIGINS=http://localhost:5173
ENABLE_MOCK_DATA=true
ENVIRONMENT=development
